/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700;900&display=swap");

/* TYPOGRAPHY */

.fz-14-reg {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.fz-14-bld {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
}
.fz-16-reg {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.fz-16-bld {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.fz-20 {
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
}
.fz-32 {
  font-size: 32px;
  font-weight: 900;
  line-height: 1.2; /*38.4px*/
}
.fz-48 {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2; /*57.6px*/
}
@media(max-width:375px){
  .fz-48 {
    font-size: 32px;
  }
}
.fz-80 {
  font-size: 80px;
  font-weight: 900;
  line-height: 96px;
}
.fz-120 {
  font-size: 160px;
  font-weight: 900;
  line-height: 192px;
}
@media(max-width:375px){
  .fz-120 {
    font-size: 48px;
    font-weight: 900;
    line-height: 1.2;
  }
}
.ico-fz-16 {
  font-size: 16px;
}
.ico-fz-24 {
  font-size: 24px;
}
.ico-fz-80 {
  font-size: 80px;
}

/* color */

.blk-100 {
  color: #020202;
}
.blk-80 {
  color: #525252;
}
.white {
  color: #ffffff;
}

/* spacing */

.m20-0 {
  margin: 20px 0;
}
.m0-24 {
  margin: 0 24px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-80 {
  margin-bottom: 80px;
}
.ml-16 {
  margin-left: 16px;
}
.ml-20 {
  margin-left: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-160 {
  margin-top: 160px;
}
.p8-16 {
  padding: 8px 16px;
}
.p20-0 {
  padding: 20px 0px;
}
.p20-32 {
  padding: 20px 32px;
}
.p20-40 {
  padding: 20px 40px;
}
.p40 {
  padding: 40px;
}
.p80-40 {
  padding: 80px 40px;
}

/* element style */

.btn-outline-white {
  border: 1px solid #ffffff;
  border-radius: 16px;
}
.btn-outline-grey {
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  padding: 20px 32px 20px 40px;
}
.frame-outline {
  border: 1px solid #525252;
  border-radius: 16px;
}
.frame-bg {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
}

/* spacing */

.d-flex {
  display: flex;
}
.ai-c {
  align-items: center;
}
.fd-c {
  flex-direction: column;
}
.jc-sb {
  justify-content: space-between;
}
@media(max-width:375px){
    .banner__cta, 
    .service__title, 
    .service__feature, 
    .parter__review {
        flex-direction: column;
    }
}

.container {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #1e1e1e;
  color: white;
  min-width: 1296px;
}
@media(max-width:375px){
    .container {
      min-width: 375px;
  }
}

.wrap {
  max-width: 1296px;
  margin: 0 auto;
}
@media(max-width:375px){
    .wrap {
      margin: 0 12px;
  }
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover,
a:active {
  color: #f2f2f2;
}

.header {
  align-items: center;
  border-bottom: 1px solid #ffffff;
}
@media(max-width:375px){
    .header {
      width: 351px;
  }
}

.header__logo {
  width: 250px;
  margin: 20px 0;
}
@media(max-width:375px){
    .header__logo {
      width: 147px;
  }
}

.header__nav--ico {
  display: none;
}
@media(max-width:375px){
    .header__nav {
      display: none;
  }

    .header__nav--ico {
      display: block;
    }
    .banner__title {
      width: 252px; 
    }
}

.banner__cta {
  align-items: flex-start;
}

.banner__btn {
  width: 160px;
  height: 64px;
  text-align: center;
}

.banner__cta a:hover, a:active {
  border: 1px solid #f2f2f2;
}

.banner__animation img {
  margin-top: 204px;
}
@media(max-width:375px){
    .banner__animation img {
      margin-top: 180px;
      width: 117px;
  }
}

@media(max-width:375px){
    .service__title {
      margin-bottom: 48px;
  }

    .service__title h2 {
      font-size: 20px;
      font-weight: 900;
      line-height: 24px;
      margin-bottom: 24px;
  }
}

.service__title h3 {
  width: 856px;
  margin-left: 24px;
}
@media(max-width:375px){
    .service__title h3 {
      width: 351px;
      margin-left: 0;
  }
}

@media(max-width:375px){
    .featureItem {
      width: 351px;
      padding: 40px 20px;
      margin-bottom: 12px;
  }
}

.featureItem p {
  width: 336px;
}
@media(max-width:375px){
    .featureItem p {
      width: 311px;
  }
}

@media(max-width:375px){
    .partner {
      margin-top: 120px;
    }

    .partner__title {
      margin-bottom: 48px;
    }

    .partner h2 {
      font-size: 20px;
      font-weight: 900;
      line-height: 24px;
      margin-bottom: 24px;
  }
    .swiper {
      margin-top: 0;
  }
}

.partner__box {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}
@media(max-width:375px){
    .partner__box {
      max-width: 375px;
      margin-left: 0px;
      margin-right: 0px;
  }
}

.partner__logo {
  display: flex;
  justify-content: center;
  overflow-x: hidden;  /* `scroll` for logo 水平滾動，但會出現 X 軸 */
  position: relative;
}

.partner__logo::before,
.partner__logo::after {
  content: "";
  position: absolute;
  width: 196px;
  height: 40px;
}

.partner__logo::before {
  left: 0;
  padding-right: 196px;
  background: linear-gradient(to right, #1e1e1e, rgb(0,0,0,0));
}

.partner__logo::after {
  right: 0;
  padding-left: 196px;
  background: linear-gradient(to left, #1e1e1e, rgb(0,0,0,0));
}

.partner__logo img {
  max-width: 160px;
}

.reviewItem {
  width: 416px;
}
@media(max-width:375px){
    .reviewItem {
      width: 351px;
      padding: 20px;;
  }
}

.reviewStar {
  width: 96px;
  height: 16px;
}

.partner__review p {
  width: 336px;
  height: 215px;
}
@media(max-width:375px){
    .partner__review p {
      width: 311px;
  }
}

.client {
  height: 49px;
}

.tools {
  background-color: #ffffff;
  border-radius: 160px;
  color: #020202;
  align-items: center;
  min-width: 1296px;
}
@media(max-width:375px){
  .tools {
    border-radius: 20px;
    min-width: 351px;
    margin-top: 120px;
}
  .tools .wrap {
    max-width: 351px;
}
}

.tools input {
  width: 1296px;
  height: 64px;
}
@media(max-width:375px){
  .tools input {
    max-width: 351px;
}
  .tools__title {
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 32px;
    padding: 0 40px;
}
}

@media(max-width:375px){
  .tools__search {
    margin-bottom: 48px;
}
}

.searchStyle {
  background-color: #f2f2f2;
  padding: 20px 40px;
  border-style: none;
  border-radius: 16px;
  font-size: 16px;
  color: #919191;
  margin-bottom: 24px;
}
@media(max-width:375px){
  .searchStyle {
    padding-left: 76px;
}
}

.searchBar {
  position: relative; 
  display: inline-block;
}

.searchBar__icon {
  position: absolute; 			
  left: 10px;
  bottom: 42px;
  color: #919191;
  padding-left: 40px;
}

.filter {
  width: 1296px;
}
@media(max-width:375px){
  .filter {
    width: 351px;
    flex-wrap: wrap;
}
  .filterTag__box {
    order: 3;
    margin-top: 16px;
    width: 351px;
    height: 40px;
    overflow: scroll;
  }

  .filterTag {
    max-width: 96px
  }
}

.filterTag a {
  margin: 0 8px;
}

.filterIcon a,
.filterDescending a {
  color: #020202;
}

.filterIcon a:hover,
a:active {
  color: #919191;
}

.filterDescending a:hover,
a:active {
  color: #919191;
}

.filter p {
  margin-right: 12px;
}

.tagItem {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #919191;
}

.tagItem--active {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #020202;
  background: #f2f2f2;
  border-radius: 16px;
}

.filterTag a:hover, 
a:active{
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #919191;
  background: #f2f2f2;
  border-radius: 16px;
}

.tools__list {
  flex-wrap: wrap;
}

.listItem {
  width: 416px;
  color: #020202;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 24px;
}
@media(max-width:375px){
  .listItem {
    width: 351px;
    margin-bottom: 12px;
}
}

.toolName,
.toolType {
  border-bottom: 1px solid #f2f2f2;
}

.toolName {
  flex-grow: 1;
}

.toolName h4 {
  margin-bottom: 12px;
}

.toolDetail a:hover,a:active {
  color: #919191;
}

.icon_share .material-symbols-sharp a:hover,a:active {
  color: #919191;
}

.tool__btn {
  justify-content: flex-end;
  margin-top: 40px;
  margin-bottom: 162px;
}
@media(max-width:375px){
  .tool__btn {
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 80px;
}
}

.btnPages, .btnPages--active {
  font-size: 14px;
  font-weight: 700;
  width: 48px;
  height: 48px;
  text-align: center;
  padding: 17px 0;
}

.btnPages {
  color: #000;
}

.btnPages--active {
  color: #ffffff;
  background-color: #020202;
  border-radius: 16px;
}

.btnPages .material-symbols-sharp {
  line-height: .5; /* 下一頁箭頭 icon 高度很怪 */
}

.tool__btn a:hover, 
a:active {
  color: #919191;
  cursor: pointer;
}

.cta {
  margin-top: 78px;
  flex-direction: column;
  align-items: center;
}
@media(max-width:375px){
  .cta {
    padding: 120px 0;
}
  .cta h3 {
    padding: 0 60px;
    font-size: 32px;
    font-weight: 900;
    line-height: 1.2;
    text-align: center;
}
}

.cta__btn {
  width: 188px;
  border: 1px solid white;
  border-radius: 16px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
}

@media(max-width:375px){
  .cta a {
    margin-top: 32px;
}
}

.cta__btn p {
  margin-right: 12px;
}

.cta a:hover, 
a:active {
  border: 1px solid #f2f2f2;
}

@media(max-width:375px){
  .footer {
    margin-top: 0;
}
}

.footer__top {
  justify-content: space-between;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 80px 0;
}
@media(max-width:375px){
  .footer__top {
    flex-direction: column-reverse
  }
  .footer__nav a {
    font-size: 48px;
    line-height: 1.2;
  }
}

.footer__logo {
  width: 250px;
}
@media(max-width:375px){
    .footer__logo {
      margin-bottom: 40px;
  }
}
.footer__bottom p {
  margin-right: 100px;
}

@media(max-width:375px){
    .footer__bottom {
      flex-wrap: wrap;
  }
}
.socialMedia a {
  margin-right: 20px;
  padding: 32px 0;
}

.footer__btn p {
  margin-right: 12px;
}

.footer__btn {
  padding: 32px 0;
}
@media(max-width:375px){
    .footer__btn {
      order: 2;
  }

  .socialMedia {
      order: 3;
      margin-bottom: 20px;
  }
}